# pixi environments
.pixi/*
!.pixi/config.toml

# Local environment variables
.env
*.egg-info/
.venv/
build/


# Logs
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.whl
*.tar.gz

# Build artifacts
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Docs
docs/chronos/_build/
